@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

body {
  font-family: "Roboto", serif;
  &.lock{
    overflow-y: hidden;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px 0 15px
}

.page {
  flex: 1 1 auto;
}


.button {
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  padding: 11px 50px;
  background: #7140EB;
  border-radius: 999px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.button:hover {
  background-color: rgba(113, 64, 235, 0.7);
  transition: background-color 0.3s ease 0s;
}

.button-dark {
  color: white;
  background-color: rgba(73, 70, 79, 0.47);
  padding: 10px 30px;
  border-radius: 20px;
  &.active{
    background-color: rgba(114, 243, 79, 0.62);
  }
  &:hover{
    background-color: rgba(114, 243, 79, 0.62);

  }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(41, 29, 103, 0.29);

  .header__container {
    display: flex;
    align-items: center;
    column-gap: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 80px;
    @include max-screen(991.98px) {
      min-height: 70px;
    }
    @include max-screen(450px) {
      column-gap: 20px;
    }

  }

  .header__logo {
    position: relative;
    z-index: 2;

    img {
      display: block;
      @include max-screen(450px) {
        width: 90px;
      }
    }

  }

  .header__menu {
    flex: 1 1 auto;

    .menu__list {
      display: flex;
      justify-content: flex-end;
      column-gap: 30px;
      flex-wrap: wrap;
      row-gap: 5px;
      @include max-screen(767.98px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 30px;
      }
    }

    .menu__item {
    }

    .menu__link {
      display: block;
      font-weight: 400;
      font-size: 18px;
      color: #FFFFFF;
      @include max-screen(767.98px) {
        font-size: 32px;
      }
    }

  }

  .burger__menu {
    display: none;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    @include max-screen(767.98px) {
      display: block;
    }
  }

  @include max-screen(767.98px) {
    .menu__body {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: darkcyan;
      top: 0;
      left: -100%;
      padding: 100px 15px 30px 15px;
      transition: left 0.3s ease 0s;
    }
  }

  .menu__body.opened {
    left: 0;
  }


  .burger__menu span,
  .burger__menu::before,
  .burger__menu::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    right: 0;
    background-color: black;
    transition: all 0.3s ease 0s;
  }

  .burger__menu.opened span {
    width: 0;
  }

  .burger__menu.opened::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }

  .burger__menu.opened::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }

  .burger__menu::before {
    top: 0;
  }

  .burger__menu::after {
    bottom: 0;
  }

  .burger__menu span {
    top: calc(50% - 1px);
  }

  .header__button {
    position: relative;
    z-index: 5;
    @include max-screen(450px) {
      padding: 11px 20px;
    }
  }
}

.main {
  min-height: 100vh;
  background-image: url("../images/main_bg.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 90px;
  h1 {
    font-weight: 400;
    font-size: 99px;
    letter-spacing: 5px;
    margin-bottom: 37px;
    color: #FFFFFF;
    @include max-screen(991.98px) {
      margin-bottom: 25px;
      font-size: 70px;
    }
    @include max-screen(767.98px) {
      font-size: 40px;
    }
  }

  p {
    font-weight: 400;
    font-size: 21px;
    color: #FFFFFF;
    margin-bottom: 57px;
    @include max-screen(991.98px) {
      margin-bottom: 30px;
      font-size: 18px;
    }
  }
}

.work {
  padding: 60px 0;

  h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    color: #49464F;
    margin-bottom: 70px;
  }

  ul {
    li {
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 34px;
      color: #49464F;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 50px;
      }
    }
  }

  .work__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .work__content {
    flex: 1 1 auto;
  }

  .work__image {
    flex: 0 0 61.3%;
    text-align: center;

    img {
      width: 100%;
    }
  }

  @media (max-width: 1280px) {
    .work__container {
      flex-direction: column;
      align-items: stretch;
      text-align: center;
    }
    .work__image {
      flex: 0 0 auto;
    }
  }
}


.goods {
  padding-top: 145px;
  padding-bottom: 145px;
  background-color: cadetblue;

  h2 {
    font-weight: 400;
    font-size: 67px;
    color: #49464F;
    margin-bottom: 30px;
  }

  .goods__items__navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
  }

  .goods__items__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    gap: 40px;
  }

  .goods__items-item {
    background: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 16px;
    padding: 45px;


  }
  .goods__item-image{
    position: relative;
    padding-bottom: 79.4%;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}




