@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "jquery.fancybox.min.css";
body {
  font-family: "Montserrat", serif;
  background: #FFFFFF;
}
body.lock {
  overflow-y: hidden;
  position: relative;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.page {
  flex: 1 1 auto;
}

.button__main {
  position: relative;
  color: #FFFFFF;
  background: #369740;
  display: flex;
  align-items: center;
  max-width: 416px;
  padding: 24px 0 24px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 140%;
  overflow: hidden;
}
@media screen and (max-width: 767.98px) {
  .button__main {
    font-size: 12px;
    padding: 14px 0 14px 0;
    max-width: 250px;
    margin: 0 auto;
  }
}
.button__main span:first-of-type {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-left: 34px;
  background: url("../images/main-btn-icon.svg");
}
@media screen and (max-width: 767.98px) {
  .button__main span:first-of-type {
    margin-left: 20px;
  }
}
.button__main span:last-of-type {
  position: absolute;
  z-index: 5;
  right: 20px;
  display: block;
  width: 20px;
  height: 12px;
  background: url("../images/main-btn-vector.svg") center center no-repeat;
}
@media screen and (max-width: 767.98px) {
  .button__main span:last-of-type {
    width: 12px;
    height: 8px;
    background-size: cover;
    right: 13px;
  }
}
.button__main::after {
  position: absolute;
  content: "";
  width: 107px;
  height: 107px;
  border-radius: 50%;
  right: -35px;
  top: -6px;
  background: #2E7A36;
}
@media screen and (max-width: 767.98px) {
  .button__main::after {
    width: 63px;
    height: 63px;
    top: -1px;
    right: -27px;
  }
}

.button__project {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: #369740;
  overflow: hidden;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}
@media screen and (max-width: 1100px) {
  .button__project {
    font-size: 14px;
  }
}
@media screen and (max-width: 1020px) {
  .button__project {
    font-size: 12px;
  }
}
@media screen and (max-width: 991.98px) {
  .button__project {
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  .button__project {
    font-size: 16px;
  }
}
.button__project::before {
  content: "";
  display: inline-block;
  background: url("../images/pdf-icon.svg");
  width: 16px;
  height: 20px;
  margin-right: 10px;
}
@media screen and (max-width: 1050px) {
  .button__project::before {
    margin-right: 5px;
    width: 12px;
    height: 16px;
    background-size: cover;
  }
}
@media screen and (max-width: 1050px) {
  .button__project::before {
    margin-right: 10px;
    width: 16px;
    height: 20px;
    background-size: cover;
  }
}
.button__project::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 107px;
  height: 107px;
  border-radius: 50%;
  background: #2E7A36;
  right: -40px;
  top: -10px;
}
@media screen and (max-width: 1150px) {
  .button__project::after {
    right: -55px;
  }
}
@media screen and (max-width: 1070px) {
  .button__project::after {
    right: -80px;
    top: -15px;
  }
}
@media screen and (max-width: 991.98px) {
  .button__project::after {
    right: -40px;
    top: -10px;
  }
}
@media screen and (max-width: 400px) {
  .button__project::after {
    right: -70px;
    top: -10px;
  }
}
.button__project span {
  position: absolute;
  right: 20px;
  display: inline-block;
  width: 19px;
  height: 11px;
  background: url("../images/arrow-icon.svg") center center no-repeat;
  background-size: cover;
  z-index: 2;
}
@media screen and (max-width: 1150px) {
  .button__project span {
    width: 16px;
    height: 10px;
    right: 15px;
  }
}
@media screen and (max-width: 1068.98px) {
  .button__project span {
    width: 16px;
    height: 10px;
    right: 6px;
  }
}
@media screen and (max-width: 1000px) {
  .button__project span {
    width: 12px;
    height: 8px;
    right: 7px;
  }
}
@media screen and (max-width: 991.98px) {
  .button__project span {
    width: 19px;
    height: 11px;
    right: 20px;
  }
}
@media screen and (max-width: 400px) {
  .button__project span {
    right: 8px;
  }
}
.button__project:hover > span {
  transition: all 0.3s ease 0s;
  transform: rotate(90deg);
}
.button__project:hover {
  opacity: 0.8;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(20, 20, 20, 0.7);
  backdrop-filter: blur(2px);
}
header .header__container {
  display: flex;
  align-items: center;
  column-gap: 32px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 84px;
}
@media screen and (max-width: 991.98px) {
  header .header__container {
    min-height: 70px;
  }
}
@media screen and (max-width: 450px) {
  header .header__container {
    column-gap: 20px;
  }
}
header .header__logo {
  position: relative;
  z-index: 2;
  max-width: 300px;
}
@media screen and (max-width: 820px) {
  header .header__logo {
    max-width: 250px;
  }
}
@media screen and (max-width: 767.98px) {
  header .header__logo {
    max-width: 200px;
  }
}
header .header__logo img {
  height: 100%;
  width: 100%;
  display: block;
}
@media screen and (max-width: 500px) {
  header .header__logo img {
    width: 80%;
  }
}
header .header__menu {
  flex: 1 1 auto;
}
header .header__menu .menu__list {
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 5px;
}
@media screen and (max-width: 950px) {
  header .header__menu .menu__list {
    column-gap: 25px;
  }
}
@media screen and (max-width: 767.98px) {
  header .header__menu .menu__list {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 30px;
  }
}
header .header__menu .menu__item {
  transition: all 0.3s ease 0s;
}
header .header__menu .menu__item:hover {
  transform: scale(1.15);
  transition: all 0.3s ease 0s;
}
header .header__menu .menu__link {
  font-style: normal;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
}
@media screen and (max-width: 950px) {
  header .header__menu .menu__link {
    font-size: 16px;
  }
}
@media screen and (max-width: 767.98px) {
  header .header__menu .menu__link {
    font-size: 32px;
  }
}
header .burger__menu {
  display: none;
  flex: 0 0 30px;
  height: 18px;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 767.98px) {
  header .burger__menu {
    display: block;
  }
}
@media screen and (max-width: 767.98px) {
  header .menu__body {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    padding: 100px 15px 30px 15px;
    transition: left 0.3s ease 0s;
    background: rgb(212, 191, 91);
  }
}
header .menu__body.opened {
  left: 0;
}
header .burger__menu span,
header .burger__menu::before,
header .burger__menu::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  background-color: white;
  transition: all 0.3s ease 0s;
}
header .burger__menu.opened span {
  width: 0;
}
header .burger__menu.opened::before {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}
header .burger__menu.opened::after {
  bottom: calc(50% - 1px);
  transform: rotate(45deg);
}
header .burger__menu::before {
  top: 0;
}
header .burger__menu::after {
  bottom: 0;
}
header .burger__menu span {
  top: calc(50% - 1px);
}
header .header__button {
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 450px) {
  header .header__button {
    padding: 11px 20px;
  }
}

.main {
  min-height: 100vh;
  background: url("../images/main_bg.webp") center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 84px;
}
.main .main__container {
  width: 100%;
}
.main h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 123%;
  color: #FFFFFF;
  text-shadow: 0 4px 16px rgba(0, 0, 0, 0.55);
  margin-bottom: 60px;
}
@media screen and (max-width: 991.98px) {
  .main h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .main h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 48px;
  }
}

.projects {
  padding-top: 95px;
  padding-bottom: 145px;
}
.projects h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 122.5%;
  color: #333333;
  padding-bottom: 46px;
}
.projects .projects__items__navigation {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.projects .projects__items__navigation button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  background: #F8F8F8;
  transition: all 0.3s ease 0s;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 122.5%;
  color: rgba(51, 51, 51, 0.4);
}
.projects .projects__items__navigation button:hover {
  transition: background 0.2s ease 0s;
  background: #369740;
  color: #FFFFFF;
}
.projects .projects__items__navigation button::after {
  position: absolute;
  right: 0;
  content: "";
  display: inline-block;
  height: 20px;
  width: 1px;
  background: url("../images/filter-vector.svg");
}
.projects .projects__items__navigation button:last-of-type::after {
  display: none;
}
.projects .projects__items__navigation button.active {
  background: #369740;
  color: #FFFFFF;
}
.projects .projects__items__container .project_filter_item .project-item {
  display: flex;
  height: 450px;
  gap: 60px;
  padding-right: 15px;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
@media screen and (max-width: 1250px) {
  .projects .projects__items__container .project_filter_item .project-item {
    gap: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .projects .projects__items__container .project_filter_item .project-item {
    gap: 15px;
  }
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item {
    flex-direction: column;
    padding-right: 0;
    height: inherit;
  }
}
.projects .projects__items__container .project_filter_item .project-item .left-side {
  max-width: 725px;
  height: 100%;
  position: relative;
}
.projects .projects__items__container .project_filter_item .project-item .left-side div {
  height: 100%;
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .left-side {
    max-width: 100%;
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  .projects .projects__items__container .project_filter_item .project-item .left-side {
    height: inherit;
  }
}
.projects .projects__items__container .project_filter_item .project-item .left-side img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .projects__items__container .project_filter_item .project-item .left-side .o5, .projects .projects__items__container .project_filter_item .project-item .left-side .o6 {
  object-fit: inherit;
}
.projects .projects__items__container .project_filter_item .project-item .right-side {
  padding-right: 45px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 1 1 auto;
  justify-content: center;
}
@media screen and (max-width: 1250px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side {
    padding-right: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side {
    padding-right: 0;
  }
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side {
    width: 65%;
    margin: auto;
    padding: 0 15px 15px 15px;
  }
}
@media screen and (max-width: 767.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side {
    width: 80%;
  }
}
@media screen and (max-width: 540px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side {
    width: 100%;
  }
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__tittle {
  font-weight: 400;
  font-size: 28px;
  line-height: 122.5%;
  color: #333333;
  margin-bottom: 30px;
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1100px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items {
    gap: 15px;
  }
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items {
    gap: 30px;
  }
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 122.5%;
  color: rgba(51, 51, 51, 0.4);
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 122.5%;
  color: #333333;
}
@media screen and (max-width: 1100px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item p {
    font-size: 15px;
  }
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item p {
    font-size: 18px;
  }
}
@media screen and (max-width: 370px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item p {
    font-size: 14px;
  }
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item p::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url("../images/height-icon.svg") center center no-repeat;
  background-size: cover;
  margin-right: 8px;
}
@media screen and (max-width: 1100px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item p::before {
    height: 13px;
    width: 13px;
    margin-right: 4px;
  }
}
@media screen and (max-width: 1022px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item p::before {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item p::before {
    display: inline-block;
    margin-right: 8px;
    height: 16px;
    width: 16px;
  }
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item:first-of-type > p::before {
  background: url("../images/width-icon.png");
  background-size: cover;
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__sizes .project__sizes__items .project__sizes__item:last-of-type > p::before {
  background: url("../images/lenght-icon.svg");
  background-size: cover;
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__rooms {
  max-width: 250px;
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__rooms .room__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__rooms .room__tittle {
  width: 50%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.4);
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__rooms .room__tittle {
    font-size: 20px;
  }
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__rooms .room__square {
  width: 50%;
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__rooms span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 122.5%;
  color: #333333;
  margin-left: 30px;
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__rooms span {
    font-size: 18px;
  }
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__price {
  margin-bottom: 30px;
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__price p {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
  padding-right: 24px;
}
@media screen and (max-width: 1080px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__price p {
    font-size: 20px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__price p {
    font-size: 24px;
    padding-right: 24px;
  }
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__price p::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 2px;
  height: 40px;
  background: url("../images/filter-vector.svg");
  right: 0;
  top: -4px;
}
.projects .projects__items__container .project_filter_item .project-item .right-side .project__price span {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
  padding-left: 24px;
}
@media screen and (max-width: 1080px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__price span {
    font-size: 20px;
    padding-left: 10px;
  }
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item .project-item .right-side .project__price span {
    font-size: 24px;
    padding-left: 24px;
  }
}
.projects .projects__items__container .project_filter_item .project-item .right-side > button {
  z-index: 2;
}
.projects .projects__items__container .project_filter_item:nth-child(even) .project-item {
  padding-right: 0;
  padding-left: 15px;
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item:nth-child(even) .project-item {
    padding-left: 0;
  }
}
.projects .projects__items__container .project_filter_item:nth-child(even) .project-item .right-side {
  padding-left: 45px;
  padding-right: 0;
  order: 1;
}
@media screen and (max-width: 1250px) {
  .projects .projects__items__container .project_filter_item:nth-child(even) .project-item .right-side {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1000px) {
  .projects .projects__items__container .project_filter_item:nth-child(even) .project-item .right-side {
    padding-left: 0;
  }
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item:nth-child(even) .project-item .right-side {
    order: 2;
  }
}
.projects .projects__items__container .project_filter_item:nth-child(even) .project-item .left-side {
  order: 2;
}
@media screen and (max-width: 991.98px) {
  .projects .projects__items__container .project_filter_item:nth-child(even) .project-item .left-side {
    order: 1;
  }
}

.video__section {
  height: 630px;
  background: url("../images/about-bg.webp") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.video__section .video__container {
  text-align: center;
}
.video__section .video__container h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 122.5%;
  color: #FFFFFF;
  text-shadow: 0 0 26px rgba(0, 0, 0, 0.6);
  margin-bottom: 47px;
}
.video__section .video__container p {
  max-width: 570px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  text-shadow: 0 0 26px rgba(0, 0, 0, 0.6);
  margin: auto auto 45px;
}
.video__section .video__container a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;
}
.video__section .video__container a:hover span::before {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}
.video__section .video__container a:hover span {
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
}
.video__section .video__container span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 17px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5.5px);
  transition: all 0.2s ease 0s;
}
.video__section .video__container span:before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/triangle.svg") center center no-repeat;
  left: 17px;
  top: 14px;
}

.design {
  padding: 200px 0 200px 0;
  background: url("../images/design-bg.png") right -400px no-repeat;
  background-size: 800px;
}
@media screen and (max-width: 1000px) {
  .design {
    background-size: 700px;
  }
}
@media screen and (max-width: 800px) {
  .design {
    background-size: 500px;
  }
}
.design .design__bg {
  position: relative;
  height: 286px;
  background: #EDF6EE;
  display: flex;
  align-items: center;
}
.design .design__container {
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
}
.design .design__container .design__left {
  flex: 1;
  border: 1px solid black;
  position: relative;
}
.design .design__container .design__left img {
  display: block;
  max-width: 80%;
}
.design .design__container .design__right {
  flex: 1;
  border: 1px solid black;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.design .design__container .design__right p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 40px;
}
.design .design__container .design__right p span {
  color: #369740;
}
.design .design__container .design__right a {
  width: 70%;
}

.technologies {
  padding-bottom: 40px;
}
.technologies .technologies__title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 122.5%;
  color: #333333;
  margin-bottom: 45px;
}
.technologies .technologies__items-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(461px, 1fr));
  gap: 40px;
  align-items: flex-start;
}
@media screen and (max-width: 500px) {
  .technologies .technologies__items-body {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.technologies .technologies__items-body .technologies__item {
  padding: 40px 0 0 40px;
  background: #FFFFFF;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 600px) {
  .technologies .technologies__items-body .technologies__item {
    padding: 20px 20px 20px 20px;
  }
}
.technologies .technologies__items-body .technologies__item .technologies__item-left {
  flex: 1;
}
@media screen and (max-width: 600px) {
  .technologies .technologies__items-body .technologies__item .technologies__item-left {
    order: 2;
  }
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-title h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18.2914px;
  line-height: 122.5%;
  color: #333333;
  margin-bottom: 34px;
}
@media screen and (max-width: 600px) {
  .technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-title h3 {
    text-align: center;
  }
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-title h3 span {
  color: #369740;
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul {
  position: relative;
  max-width: 250px;
  padding-left: 30px;
  margin-bottom: 40px;
}
@media screen and (max-width: 991.98px) {
  .technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul {
    max-width: 350px;
  }
}
@media screen and (max-width: 600px) {
  .technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul {
    max-width: 350px;
    margin: auto;
  }
}
@media screen and (max-width: 600px) {
  .technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul {
    max-width: 320px;
    margin: auto;
  }
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 13.7071px;
  line-height: 122.5%;
  color: #333333;
  margin-bottom: 15px;
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:last-child {
  margin-bottom: 0;
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:before {
  position: absolute;
  content: "1";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #369740;
  left: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #FFFFFF;
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:nth-child(2):before {
  content: "2";
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:nth-child(3):before {
  content: "3";
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:nth-child(4):before {
  content: "4";
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:nth-child(5):before {
  content: "5";
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:nth-child(6):before {
  content: "6";
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:nth-child(7):before {
  content: "7";
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:nth-child(8):before {
  content: "8";
}
.technologies .technologies__items-body .technologies__item .technologies__item-left .technologies__item-list ul li:nth-child(9):before {
  content: "8";
}
.technologies .technologies__items-body .technologies__item .technologies__item-right {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.technologies .technologies__items-body .technologies__item .technologies__item-right::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 382px;
  height: 382px;
  border-radius: 50%;
  background: rgba(225, 240, 227, 0.6);
  bottom: -150px;
  right: -120px;
}
@media screen and (max-width: 1200px) {
  .technologies .technologies__items-body .technologies__item .technologies__item-right::after {
    width: 280px;
    height: 280px;
    bottom: -80px;
  }
}
@media screen and (max-width: 991.98px) {
  .technologies .technologies__items-body .technologies__item .technologies__item-right::after {
    width: 382px;
    height: 382px;
    bottom: -45px;
  }
}
@media screen and (max-width: 600px) {
  .technologies .technologies__items-body .technologies__item .technologies__item-right::after {
    display: none;
  }
}
.technologies .technologies__items-body .technologies__item .technologies__item-right img {
  display: block;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.technologies .technologies__items-body .technologies__item:nth-child(2) .technologies__item-right::after {
  bottom: 50px;
  right: -120px;
}
.technologies .technologies__items-body .technologies__item:nth-child(3) .technologies__item-right::after {
  top: 70px;
  right: -150px;
}
.technologies .technologies__items-body .technologies__item:nth-child(4) .technologies__item-right::after {
  bottom: 0;
  right: -150px;
}
.technologies .tech1 {
  display: flex;
}
@media screen and (max-width: 600px) {
  .technologies .tech1 {
    flex-direction: column;
  }
}
.technologies .tech2 {
  display: flex;
}
@media screen and (max-width: 600px) {
  .technologies .tech2 {
    flex-direction: column;
  }
}
.technologies .tech3 {
  position: relative;
  top: -164px;
  display: flex;
}
@media screen and (max-width: 991.98px) {
  .technologies .tech3 {
    top: 0;
  }
}
@media screen and (max-width: 600px) {
  .technologies .tech3 {
    flex-direction: column;
  }
}
.technologies .tech4 {
  display: flex;
}
@media screen and (max-width: 600px) {
  .technologies .tech4 {
    flex-direction: column;
  }
}

footer {
  padding: 40px 0 0 0;
  background: #EDF6EE;
}
footer h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #333333;
  margin-bottom: 28px;
}
footer .footer__container {
  display: grid;
  grid-template-columns: minmax(auto, 378px) auto auto minmax(auto, 378px);
  gap: 60px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1100px) {
  footer .footer__container {
    gap: 45px;
    grid-template-columns: minmax(auto, 378px) auto auto;
  }
}
@media screen and (max-width: 767.98px) {
  footer .footer__container {
    gap: 25px;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 1100px) {
  footer .footer__column:nth-child(1) {
    grid-column: span 3;
  }
}
@media screen and (max-width: 767.98px) {
  footer .footer__column:nth-child(1) {
    grid-column: span 2;
  }
}
@media screen and (max-width: 767.98px) {
  footer .footer__column:nth-child(4) {
    grid-column: span 2;
  }
}
footer .footer__main .footer__logo img {
  max-width: 250px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}
footer .footer__main .footer__info p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #333333;
  margin-bottom: 35px;
}
footer .footer__main .footer__social {
  display: flex;
  gap: 20px;
}
footer .footer__main .footer__social a:hover {
  transition: transform 0.2s ease 0s;
  transform: scale(1.2);
}
footer .footer__main .footer__social a img {
  display: block;
  width: 100%;
  height: 100%;
}
footer .footer__nav ul li {
  margin-bottom: 8px;
}
footer .footer__nav ul li:last-child {
  margin-bottom: 0;
}
footer .footer__nav ul li a {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}
@media screen and (max-width: 479.98px) {
  footer .footer__nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 350px) {
  footer .footer__nav ul li a {
    font-size: 14px;
  }
}
footer .footer__location p {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  line-height: 122.5%;
}
@media screen and (max-width: 479.98px) {
  footer .footer__location p {
    font-size: 15px;
  }
}
footer .footer__subscribe input {
  display: flex;
  flex: 1 1 auto;
  height: 48px;
  background: #DBEDDD;
  outline: none;
  padding: 13px 5px 13px 26px;
}
@media screen and (max-width: 479.98px) {
  footer .footer__subscribe input {
    margin-bottom: 10px;
  }
}
footer .footer__subscribe input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: rgba(51, 51, 51, 0.6);
}
footer .footer__subscribe button {
  padding: 11px 20px;
  background: #369740;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
@media screen and (max-width: 767.98px) {
  footer .footer__subscribe button {
    padding: 11px 60px;
  }
}
footer .footer__subscribe form {
  display: flex;
}
@media screen and (max-width: 479.98px) {
  footer .footer__subscribe form {
    flex-direction: column;
  }
}

.footer__rights {
  padding: 20px 0 20px 0;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.footer__rights p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51, 51, 51, 0.6);
}
@media screen and (max-width: 767.98px) {
  .footer__rights p {
    font-size: 12px;
  }
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: inherit;
}

.owl-theme .owl-nav {
  margin-top: inherit;
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  right: 10px;
  border-radius: 50%;
  background-color: rgba(46, 122, 54, 0.7);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 540px) {
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    top: calc(50% - 15px);
  }
}
.owl-carousel .owl-nav button.owl-next:after, .owl-carousel .owl-nav button.owl-prev:after {
  content: "\f054";
  font-weight: 900;
  font-family: "Font Awesome 6 Free", serif;
  color: white;
  font-size: 20px;
}
@media screen and (max-width: 540px) {
  .owl-carousel .owl-nav button.owl-next:after, .owl-carousel .owl-nav button.owl-prev:after {
    font-size: 16px;
  }
}
.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover {
  transform: scale(1.2);
  transition: all 0.3s ease 0s;
  background-color: rgba(46, 122, 54, 0.7);
}
@media screen and (max-width: 540px) {
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    width: 30px;
    height: 30px;
  }
}

.owl-carousel .owl-nav button.owl-prev {
  left: 10px;
}
.owl-carousel .owl-nav button.owl-prev:after {
  transform: rotate(180deg);
}

.owl-carousel .owl-nav span {
  display: none;
}

.popup__bg-o1, .popup__bg-o3, .popup__bg-o5, .popup__bg-o6, .popup__bg-o7, .popup__bg-o8, .popup__bg-o9, .popup__bg-o10 {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 9999;
  backdrop-filter: blur(3px);
}
.popup__bg-o1.opened, .popup__bg-o3.opened, .popup__bg-o5.opened, .popup__bg-o6.opened, .popup__bg-o7.opened, .popup__bg-o8.opened, .popup__bg-o9.opened, .popup__bg-o10.opened {
  visibility: visible;
  transition: 0.1s;
}
.popup__bg-o1 .popup__bg-image, .popup__bg-o3 .popup__bg-image, .popup__bg-o5 .popup__bg-image, .popup__bg-o6 .popup__bg-image, .popup__bg-o7 .popup__bg-image, .popup__bg-o8 .popup__bg-image, .popup__bg-o9 .popup__bg-image, .popup__bg-o10 .popup__bg-image {
  width: 100%;
  height: 100%;
  background: url("../images/popup/small.svg") 5% 5% no-repeat, url("../images/popup/small.svg") 90% 90% no-repeat, url("../images/popup/small.svg") 70% 20% no-repeat;
}
.popup__bg-o1 .popup__content, .popup__bg-o3 .popup__content, .popup__bg-o5 .popup__content, .popup__bg-o6 .popup__content, .popup__bg-o7 .popup__content, .popup__bg-o8 .popup__content, .popup__bg-o9 .popup__content, .popup__bg-o10 .popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 50%;
  background: #EDF6EE;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 5px;
}
@media screen and (max-width: 991.98px) {
  .popup__bg-o1 .popup__content, .popup__bg-o3 .popup__content, .popup__bg-o5 .popup__content, .popup__bg-o6 .popup__content, .popup__bg-o7 .popup__content, .popup__bg-o8 .popup__content, .popup__bg-o9 .popup__content, .popup__bg-o10 .popup__content {
    width: 80%;
    height: 80%;
  }
}
.popup__bg-o1 .popup__content .close__popup, .popup__bg-o3 .popup__content .close__popup, .popup__bg-o5 .popup__content .close__popup, .popup__bg-o6 .popup__content .close__popup, .popup__bg-o7 .popup__content .close__popup, .popup__bg-o8 .popup__content .close__popup, .popup__bg-o9 .popup__content .close__popup, .popup__bg-o10 .popup__content .close__popup {
  position: absolute;
  top: 10px;
  right: 10px;
}
.popup__bg-o1 .popup__content .close__popup:before, .popup__bg-o3 .popup__content .close__popup:before, .popup__bg-o5 .popup__content .close__popup:before, .popup__bg-o6 .popup__content .close__popup:before, .popup__bg-o7 .popup__content .close__popup:before, .popup__bg-o8 .popup__content .close__popup:before, .popup__bg-o9 .popup__content .close__popup:before, .popup__bg-o10 .popup__content .close__popup:before {
  content: "\f00d";
  font-family: "Font Awesome 6 Free", serif;
  font-weight: 900;
  display: inline-block;
  font-size: 30px;
}
.popup__bg-o1 .popup__content .close__popup:hover, .popup__bg-o3 .popup__content .close__popup:hover, .popup__bg-o5 .popup__content .close__popup:hover, .popup__bg-o6 .popup__content .close__popup:hover, .popup__bg-o7 .popup__content .close__popup:hover, .popup__bg-o8 .popup__content .close__popup:hover, .popup__bg-o9 .popup__content .close__popup:hover, .popup__bg-o10 .popup__content .close__popup:hover {
  opacity: 0.6;
  cursor: pointer;
}
.popup__bg-o1 .popup__content .popup__form, .popup__bg-o3 .popup__content .popup__form, .popup__bg-o5 .popup__content .popup__form, .popup__bg-o6 .popup__content .popup__form, .popup__bg-o7 .popup__content .popup__form, .popup__bg-o8 .popup__content .popup__form, .popup__bg-o9 .popup__content .popup__form, .popup__bg-o10 .popup__content .popup__form {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
}
.popup__bg-o1 .popup__content .popup__form form, .popup__bg-o3 .popup__content .popup__form form, .popup__bg-o5 .popup__content .popup__form form, .popup__bg-o6 .popup__content .popup__form form, .popup__bg-o7 .popup__content .popup__form form, .popup__bg-o8 .popup__content .popup__form form, .popup__bg-o9 .popup__content .popup__form form, .popup__bg-o10 .popup__content .popup__form form {
  display: flex;
  margin: auto;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 991.98px) {
  .popup__bg-o1 .popup__content .popup__form form, .popup__bg-o3 .popup__content .popup__form form, .popup__bg-o5 .popup__content .popup__form form, .popup__bg-o6 .popup__content .popup__form form, .popup__bg-o7 .popup__content .popup__form form, .popup__bg-o8 .popup__content .popup__form form, .popup__bg-o9 .popup__content .popup__form form, .popup__bg-o10 .popup__content .popup__form form {
    width: 90%;
  }
}
.popup__bg-o1 .popup__content .popup__form form .form_div, .popup__bg-o3 .popup__content .popup__form form .form_div, .popup__bg-o5 .popup__content .popup__form form .form_div, .popup__bg-o6 .popup__content .popup__form form .form_div, .popup__bg-o7 .popup__content .popup__form form .form_div, .popup__bg-o8 .popup__content .popup__form form .form_div, .popup__bg-o9 .popup__content .popup__form form .form_div, .popup__bg-o10 .popup__content .popup__form form .form_div {
  display: flex;
}
.popup__bg-o1 .popup__content .popup__form h2, .popup__bg-o3 .popup__content .popup__form h2, .popup__bg-o5 .popup__content .popup__form h2, .popup__bg-o6 .popup__content .popup__form h2, .popup__bg-o7 .popup__content .popup__form h2, .popup__bg-o8 .popup__content .popup__form h2, .popup__bg-o9 .popup__content .popup__form h2, .popup__bg-o10 .popup__content .popup__form h2 {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #333333;
  margin-bottom: 3px;
}
.popup__bg-o1 .popup__content .popup__form p, .popup__bg-o3 .popup__content .popup__form p, .popup__bg-o5 .popup__content .popup__form p, .popup__bg-o6 .popup__content .popup__form p, .popup__bg-o7 .popup__content .popup__form p, .popup__bg-o8 .popup__content .popup__form p, .popup__bg-o9 .popup__content .popup__form p, .popup__bg-o10 .popup__content .popup__form p {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 25px;
  font-size: 12px;
}
.popup__bg-o1 .popup__content .popup__form span, .popup__bg-o3 .popup__content .popup__form span, .popup__bg-o5 .popup__content .popup__form span, .popup__bg-o6 .popup__content .popup__form span, .popup__bg-o7 .popup__content .popup__form span, .popup__bg-o8 .popup__content .popup__form span, .popup__bg-o9 .popup__content .popup__form span, .popup__bg-o10 .popup__content .popup__form span {
  display: block;
  flex-basis: 70%;
  margin: auto auto 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
@media screen and (max-width: 991.98px) {
  .popup__bg-o1 .popup__content .popup__form span, .popup__bg-o3 .popup__content .popup__form span, .popup__bg-o5 .popup__content .popup__form span, .popup__bg-o6 .popup__content .popup__form span, .popup__bg-o7 .popup__content .popup__form span, .popup__bg-o8 .popup__content .popup__form span, .popup__bg-o9 .popup__content .popup__form span, .popup__bg-o10 .popup__content .popup__form span {
    flex-basis: 90%;
  }
}
.popup__bg-o1 .popup__content .popup__form input, .popup__bg-o3 .popup__content .popup__form input, .popup__bg-o5 .popup__content .popup__form input, .popup__bg-o6 .popup__content .popup__form input, .popup__bg-o7 .popup__content .popup__form input, .popup__bg-o8 .popup__content .popup__form input, .popup__bg-o9 .popup__content .popup__form input, .popup__bg-o10 .popup__content .popup__form input {
  flex-basis: 70%;
  row-gap: 20px;
  display: flex;
  align-items: center;
  background: #DBEDDD;
  height: 48px;
  margin: auto auto 15px;
  padding: 0 20px 0 20px;
  border-radius: 3px;
}
@media screen and (max-width: 991.98px) {
  .popup__bg-o1 .popup__content .popup__form input, .popup__bg-o3 .popup__content .popup__form input, .popup__bg-o5 .popup__content .popup__form input, .popup__bg-o6 .popup__content .popup__form input, .popup__bg-o7 .popup__content .popup__form input, .popup__bg-o8 .popup__content .popup__form input, .popup__bg-o9 .popup__content .popup__form input, .popup__bg-o10 .popup__content .popup__form input {
    flex-basis: 90%;
  }
}
.popup__bg-o1 .popup__content .popup__form input::placeholder, .popup__bg-o3 .popup__content .popup__form input::placeholder, .popup__bg-o5 .popup__content .popup__form input::placeholder, .popup__bg-o6 .popup__content .popup__form input::placeholder, .popup__bg-o7 .popup__content .popup__form input::placeholder, .popup__bg-o8 .popup__content .popup__form input::placeholder, .popup__bg-o9 .popup__content .popup__form input::placeholder, .popup__bg-o10 .popup__content .popup__form input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(51, 51, 51, 0.6);
}
.popup__bg-o1 .popup__content .popup__form button, .popup__bg-o3 .popup__content .popup__form button, .popup__bg-o5 .popup__content .popup__form button, .popup__bg-o6 .popup__content .popup__form button, .popup__bg-o7 .popup__content .popup__form button, .popup__bg-o8 .popup__content .popup__form button, .popup__bg-o9 .popup__content .popup__form button, .popup__bg-o10 .popup__content .popup__form button {
  padding: 10px;
  background: #369740;
  flex-basis: 70%;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin: auto;
}
@media screen and (max-width: 991.98px) {
  .popup__bg-o1 .popup__content .popup__form button, .popup__bg-o3 .popup__content .popup__form button, .popup__bg-o5 .popup__content .popup__form button, .popup__bg-o6 .popup__content .popup__form button, .popup__bg-o7 .popup__content .popup__form button, .popup__bg-o8 .popup__content .popup__form button, .popup__bg-o9 .popup__content .popup__form button, .popup__bg-o10 .popup__content .popup__form button {
    flex-basis: 90%;
  }
}
.popup__bg-o1 .popup__content .popup__form button span, .popup__bg-o3 .popup__content .popup__form button span, .popup__bg-o5 .popup__content .popup__form button span, .popup__bg-o6 .popup__content .popup__form button span, .popup__bg-o7 .popup__content .popup__form button span, .popup__bg-o8 .popup__content .popup__form button span, .popup__bg-o9 .popup__content .popup__form button span, .popup__bg-o10 .popup__content .popup__form button span {
  padding-left: 0;
  display: block;
  margin: auto;
}
.popup__bg-o1 .popup__content .popup__form button span:first-of-type, .popup__bg-o3 .popup__content .popup__form button span:first-of-type, .popup__bg-o5 .popup__content .popup__form button span:first-of-type, .popup__bg-o6 .popup__content .popup__form button span:first-of-type, .popup__bg-o7 .popup__content .popup__form button span:first-of-type, .popup__bg-o8 .popup__content .popup__form button span:first-of-type, .popup__bg-o9 .popup__content .popup__form button span:first-of-type, .popup__bg-o10 .popup__content .popup__form button span:first-of-type {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
.popup__bg-o1 .popup__content .popup__form button span:last-of-type, .popup__bg-o3 .popup__content .popup__form button span:last-of-type, .popup__bg-o5 .popup__content .popup__form button span:last-of-type, .popup__bg-o6 .popup__content .popup__form button span:last-of-type, .popup__bg-o7 .popup__content .popup__form button span:last-of-type, .popup__bg-o8 .popup__content .popup__form button span:last-of-type, .popup__bg-o9 .popup__content .popup__form button span:last-of-type, .popup__bg-o10 .popup__content .popup__form button span:last-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.popup__bg-o1 .popup__content .popup__form button:hover, .popup__bg-o3 .popup__content .popup__form button:hover, .popup__bg-o5 .popup__content .popup__form button:hover, .popup__bg-o6 .popup__content .popup__form button:hover, .popup__bg-o7 .popup__content .popup__form button:hover, .popup__bg-o8 .popup__content .popup__form button:hover, .popup__bg-o9 .popup__content .popup__form button:hover, .popup__bg-o10 .popup__content .popup__form button:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=main.css.map */
